/*Подключаю файл обнуления стилей*/
@import "nullstyle.css";
@import "header.css";
@import "footer.css";
/*Подключаю семейство шрифтов*/
@import url('https://fonts.googleapis.com/css?family=Libre+Franklin:400,700&display=swap');

*{
	font-family: "Libre Franklin";
}

.wrapper{}

.container{
	max-width: 1107px;
	margin: 0 auto;
}

.about{
	min-height: 544px;
}

.about__row{
	min-height: 420px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	justify-content: space-around;
	-ms-align-self: center;
	align-self: center;
	padding-top: 90px;

}

.about__title{
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 29px;
	color: #333333;
	margin-bottom: 25px;
}

.about__text{
	font-family: Libre Franklin;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 30px;
	text-align: justify;
	color: #333333;
}

.pro{
	min-height: 693px;
	background-color: #FFFAF2;
}

.pro__title{
	font-family: Libre Franklin;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 29px;
	color: #333333;
	padding-top: 93px;
}

.pro__row{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	-ms-align-items: center;
	align-items: center;
	min-height: 693px;
}

.pro__block{}

.pro__body-row{
	height: 250px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	justify-content: space-between;
	margin: 0px -15px;
}

.block__item{
	padding: 0px 15px;
}

.pro__body-block{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	
}
.block_1{
	margin-bottom: 60px;
	margin-left: -15px;
	
}

.pro__body-block-title{
	width: 223px;
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 25px;
	color: #333333;
}

.pro__body-block-sub-title{
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 25px;
	color: #333333;
}

.pro__body-block-img{}

.pro__body-block-img img{}


.slider{}

.slider__title{
	font-family: Libre Franklin;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 29px;
	color: #333333;
	margin-bottom: 105px;
}

.slider__slider{}

.slider__row{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
}

.slider__body{}

.slider__sub-title{
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 25px;
	color: #333333;
	margin-bottom: 50px;
}

.slider__text{
	max-width: 349px;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 30px;
	color: #333333;
}

.slider__img{}

.slider__img-row{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	margin: 0px -10px;
}

.slider__img-item{
	padding: 0px 10px;
}

.slider__block_1{
	margin-bottom: 20px;
}

.slider__img-block{}

/* Слайдер */
.slick-slider{
	position: relative;
}
/* Слайдер запущен */
.slick-slider.slick-initialized{}
/* Слайдер с точками */
.slick-slider.slick-dotted{}
/* Ограничивающая оболочка */
.slick-list {
	overflow: hidden;
}
/* Лента слайдов */
.slick-track{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
/* Слайд */
.slick-slide{}
/* Слайд активный (показывается) */
.slick-slide.slick-active{}
/* Слайд основной */
.slick-slide.slick-current{}
/* Слайд по центру */
.slick-slide.slick-center{}
/* Клонированный слайд */
.slick-slide.slick-cloned{}
/* Стрелка */
.slick-arrow{
	position: absolute;
	font-size: 0;
}
/* Стрелка влево */
.slick-arrow.slick-prev{
	top: 94%;
	background: url(../icon/prev.png) 0 0 no-repeat;
	width: 24px;
	height: 24px;
}
/* Стрелка вправо */
.slick-arrow.slick-next{
	background: url(../icon/next.png) 0 0 no-repeat;
	width: 24px;
	top: 94%;
	left: 5%;
	height: 24px;
}
/* Стрелка не активная */
.slick-arrow.slick-disabled{}
/* Точки (булиты) */
.slick-dots{}
.slick-dots li{}
/* Активная точка */
.slick-dots li.slick-active{}
/* Элемент точки */
.slick-dots li button{}

.pic{
	display: none;
}



@media(max-width: 767px) {
	.slider__icon{
		display: none;
	}
	.slider{
		padding-top: 250px;
	}
	.slider__row{
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
		-ms-align-items: center;
		align-items: center;
	}
	.slider__img-block{
		margin-top: 20px;
	}
	.slider__img-row{
		display: block;
		margin: 0;
	}
	.slider__img-item{
		padding: 0;
	}
	.pro__title{
		padding-left: 10px;
		padding-top: 20px;

	}
	.pro__row{
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
	}
	.pro__body-block{
		display: block;
		margin-top: 30px;
	}
	.about__row{
		padding: 0px 10px;
	}
	.about__title{
		margin-top: 40px;
	}
	
}

@media(max-width: 590px) {
	.about__text{
		margin-top: 20px;
	}
}

@media(max-width: 510px) {}
@media(max-width: 476px) {
	.pro__body-block-img img{
		max-width: 320px;
		margin-top: 10px;
	}
}
@media(max-width: 370px) {
	.slider__big-img{
		max-width: 300px;
	}
	.pro__img img{
		max-width: 300px;
	}
	.pro__body-block-img img{
		max-width: 290px;
	}
	.pro__body-block-title{
	}
	.pro__body-block-sub-title{
		font-size: 15px;
	}
}